<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniprojet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".managers.SplashManager"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.InterventionActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".managers.DetailManager"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".managers.AssignInterventionManager"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".utils.ClientActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".managers.NewClientManager"
            android:parentActivityName=".utils.ClientActivity" />
        <activity
            android:name=".utils.SiteActivity"
            android:parentActivityName=".utils.ClientActivity" />
        <activity
            android:name=".managers.NewSiteManager"
            android:parentActivityName=".utils.SiteActivity" />
        <activity
            android:name=".managers.NewInterventionManager"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".utils.HistoryActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".utils.SettingsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".utils.AboutActivity"
            android:parentActivityName=".activities.MainActivity" />
    </application>

</manifest>